<footer class="text-center text-light text-white" style="
        background: radial-gradient(#0e1013, #04163c);
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
      ">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <h1 class="mb-2 styleheading">
          <b style="text-align:left">Elan &amp; &#951;Vision</b>
        </h1>
        <div class="col-md-6 col-lg-5 col-xl-5 mx-auto mt-3">
          <div class="mb-1" style="text-align:left;font-size:1.6em;font-family:'Roboto'">
            Get Connected.
          </div>
          <div class="mb-1" style="text-align:left;font-size:1.6em;font-family:'Roboto'">
            Build your Network.
          </div>
          <div class="mb-3" style="text-align:left;font-size:1.6em;font-family:'Roboto'">
            Stand out from the crowd.
          </div>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="text-align: left">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            <b>Contact us</b>
          </h6>
          <p data-aos="fade-up" data-aos-once="true">
            <i class="fas fa-home mr-3"></i> Elan &amp; &#951;vision Web Team
          </p>
          <p data-aos="fade-up" data-aos-once="true">
            <i class="fas fa-envelope mr-3"></i>elan@iith.ac.in
          </p>
          <p data-aos="fade-up" data-aos-once="true">
            <i class="fas fa-phone mr-3"></i> +91 6301180305
            
            
          </p>
          <p data-aos="fade-up" data-aos-once="true">
            <i class="fas fa-phone mr-3"></i> +91 9391322582
          </p>
          <p data-aos="fade-up" data-aos-once="true">
            <i class="fas fa-phone mr-3"></i> +91 8319556225
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            <b>Follow us</b>
          </h6>

          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
            href="https://www.facebook.com/elan.iithyderabad" role="button">
            <i class="fab fa-facebook"></i>
          </a>

          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee"
            href="https://twitter.com/elan_nvision" role="button">
            <i class="fab fa-twitter"></i>
          </a>

          <!-- Google -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
            href="https://www.youtube.com/user/ElanIITHyderabad" role="button">
            <i class="fab fa-youtube"></i>
          </a>

          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
            href="https://www.instagram.com/elan_nvision.iith/" role="button">
            <i class="fab fa-instagram"></i>
          </a>

          <!-- Linkedin -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca"
            href="https://www.linkedin.com/company/elan-nvision-iith/" role="button">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright: Elan &amp; &#951;vision Web team
    <!-- Copyright -->
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>