<%- include ('partials/header.ejs') %>
  <div>
    <div class="innerboxt">
      <div class="inntoinn">
        <h1 style="
          text-align: center;
          font-family: Lora;
          font-weight: 900;
          font-size: 2.6rem;
        ">
          Welcome to Elan and ηVision CA Portal
        </h1>
        <br />
        <p class="p">
          Elan & ηVision is the annual Techno-Cultural fest of IIT Hyderabad. It is one of the
          largest fests in South-India. Elan refers to the cultural part and ηVision refers to the
          technical part of the fest.Elan & ηVision is a cultural and technical extravaganza which inbounds wide spectrum of
          events in the Technical, Social and managerial disciplines. Featuring a well-rounded selection of competitions,
          workshops, expos, pronites,literary events, and lectures to stimulate young individuals to pursue technical excellence,
          inventiveness and innovation.We, Elan & ηVision are launching the Campus Ambassador (CA) Program. And you can add value
          to it.Here, the CAs build a network of students from hundreds of Indian colleges and learn about social media and
          marketing.
        </p>
        <p class="p">
          This is a call for all the college students who can become the Campus Ambassadors for
          Elan & ηVision 2023. This fest offers ample opportunities to everyone who is interested
          to showcase their talents in both cultural and technical fields. Elan & ηVision promises to
          give you a bagful of memories and an amazing festival experience.

        </p>
        <!-- <br /> -->
        <p class="p">
          We are looking for students across the country, who can help us grow our network and
          be a part of our fest. We would be very happy to see you as the face of Elan & ηVision
          2023 in your institute and take this initiative step forward with your help and support. You
          will be the first point of contact for Elan & ηVision 2023 in your college and all the
          information to the prospective students of your college shall be relayed by you.

          <br>
          <br>
          <!-- <p class="ml-8 p">
            Leaderboard Details:<br>
          King (1 - 10)<br>
Queen (11 - 25)<br>
Rook (26 - 50)<br>
Knight (51 - 100)<br>
Bishop (101 - 200)<br>
Pawn (Rest All)<br>
And incentives get better while you progress through the leaderboard
          </p> -->
        <!-- <br /> -->
        <hr />
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Incentives :
        </h1>
        <br>
        
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Get Certified
          <ol class="mx-5" type="a">
            <li>Certificate of Participation from Elan & ηVision 2023.</li>
            <li>
              LOR (Letter of Recommendation) for the top CAs of this program.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Get Merchandise
          <ol class="mx-5" type="a">
            <li>
              Free Merchandise for the top CAs of the program.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Building Network
          <ol class="mx-5" type="a">
            <li>
              Chance to interact with the Celebrities during the fest.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Events & Workshops, Social Media
          <ol class="mx-5" type="a">
            <li>
              Free participation in all the events and workshops conducted by Elan
              & ηVision 2023.
            </li>
            <li>
              Get recognition on our social media platforms and official websites.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Advancement
          <ol class="mx-5" type="a">
            <li>Your soft skills,public relations skills, marketing skills, social media savvy, and problem-solving abilities in a
            certain specialty will all be improved by completing the tasks.
</li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Gain Experience
          <ol class="mx-5" type="a">
            <li>You develop work ethics and become ready for potential career chances by working in a professional environment.
            </li>
          </ol>
        </span>
        <i class="fas fa-medal mx-3"></i>
        <span class="span">Other Rewards
          <ol class="mx-5" type="a">
            <li>Exciting rewards for accomplishing certain CA tasks.</li>
          </ol>
        </span>
        <br />
        <h6 class="block bg-indigo-500" style="display:block ;background-color: azure;padding: 1rem;">The tasks are designed to improve your soft skills, marketing skills, publicity skills, social media handling and niche
        problem-solving skills</h6>
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          CA rules
        </h1>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>You will be sent a WhatsApp link through email. Join the WhatsApp group to know more
            about your tasks.
</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>All the information about your tasks will be given to you through that group.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>After your task is done, update it on the website with appropriate proofs.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>
              Points will be allotted according to your work done.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>Additional points may be allotted based on the engagement your story/post receives and
            your performance.
</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>
              Active participation of CA’s will be encouraged during the discussions held by our team
              for publicizing Elan & ηVision.
</span>
          </li>
        </ul>
        <br />

        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Leaderboard Details
        </h1>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>There will be certain divisions in the rankings of the CAs.
</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>Based on the work and the points you gain, the leaderboard keeps on updating.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>The categories are as follows:
</span>
<ul>
  <li style="font-size:1.2rem ;margin-left:1rem ">Diamond (1-10 CAs)</li>
  <li style="font-size:1.2rem ;margin-left:1rem ">Platinum (11-25 CAs)</li>
  <li style="font-size:1.2rem ;margin-left:1rem ">Gold (26-50 CAs)</li>
  <li style="font-size:1.2rem ;margin-left:1rem ">Sapphire (51-100 CAs)</li>
  <li style="font-size:1.2rem ;margin-left:1rem ">Jade (Rest All)
</li>
</ul>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>The incentives will be better as you progress through the leaderboard.
            </span>
          </li>
        </ul>
        <br />


        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Why be a CA ?
        </h1>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>It’s a POR (Position Of Responsibility) in one of the
              largest fests
              in South India!.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>You can highlight your Campus Ambassador experience on your resume, giving you a
            professional advantage over others.
          </span>
          </li>
                  <li>
                      <i class="fas fa-arrow-circle-right mx-3"></i><span>
                        It allows you to connect with other like-minded students from across
                        the country and expand your network.</span>
                    </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>You get the opportunity to be a part of various Cultural
              and Techy
              events conducted by Elan & ηVision.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>
              Working as a CA is an excellent way to hone your communication and
              other soft skills.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>Also, there is a great scope for you to gain marketing
              and
              managerial skills through our CA Programme.</span>
          </li>
          <li>
            <i class="fas fa-arrow-circle-right mx-3"></i><span>As a Campus Ambassador, you build your image, mentor students and become better at managing people.</span>
          </li>
        </ul>
        <br />
        <h1 style="font-family: Lora; font-weight: 900; font-size: 2.1rem">
          Responsibilities of a CA
        </h1>

        <ul class="list-unstyled">
          <li>
            <i class="fas fa-clipboard-list mx-3"></i>Serve as an important connection between the students of your
            college
            and Elan & ηVision 2023.
          </li>
          <li>
            <i class="fas fa-clipboard-list mx-3"></i>Spread the word of Elan & ηVision and encourage maximum participation in all of our events and workshops.
          </li>
          <li>
            <i class="fas fa-clipboard-list mx-3"></i>To help with online publicity of the fest through social media.
            And
            help us in gaining more followers and likes in social media.
          </li>
          <li>
            <i class="fas fa-clipboard-list mx-3"></i>Coming up with innovative ideas to help Elan & ηVision to reach
            out to
            your college and peers.
          </li>
          <li>
            <i class="fas fa-clipboard-list mx-3"></i>Ensure participation in our fest’s events and competitions from your college.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>